/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEBUG */
.debug.container {
    border: 2px solid red;
}

.debug .content-top,
.debug .col {
    background-color: lightskyblue;
}

.debug .content {
    background-color: blue;
}

/* COMMON */

html {
    /* 10px */
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;  
} 

ul {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.col {
    float: left;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

.overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
}

/* HEADER */

.logo {
    /* width: 100px; */
    width: auto;
    height: 60px;
    padding-right: 1em;
    border-right: 1px solid lightgray;
}

.header-nav li{
    padding-right: .5em;
    display: inline-block;
    color: grey;
}

.header-nav a {
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
}

/* MAIN */

/* Banner */
.banner {
    position: relative;
    height: 300px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
}

.banner-text {
    position: absolute;
    bottom: 3em;
    left: 2em;
    width: 60%;
    color: white;
}

.banner-text h1{
    font-size: 2em;
}

.banner-text p {
    font-size: 1.2em;
}

.content {
    padding-bottom: 2em;
}

.content-top {
    height: 60px;
}



.col-side {
    width: 25%;
}

.col-center {
    /* width: calc(50% - 20px);
    margin: 0 10px; */
    width: 46%;
    margin: 0 2%;
}

/* FOOTER */
footer {
    height: 50px;
    background-color: blueviolet;
} 
